 .u-section-1 {
  background-image: none;
  min-height: 552px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 552px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 70px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-video-1 {
  min-height: 552px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 562px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 726px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 50px;
  }

  .u-section-1 .u-video-1 {
    background-position: 0.49% 50%;
    min-height: 498px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 777px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-video-1 {
    min-height: 673px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 588px;
  }

  .u-section-1 .u-video-1 {
    min-height: 505px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 378px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-video-1 {
    min-height: 318px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1195px;
}

.u-section-2 .u-image-1 {
  min-height: 695px;
  background-image: url("images/t4.png");
  height: auto;
  background-position: 50% 0%;
  margin: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 49px 30px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  width: 495px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 23px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -460px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 764px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  margin: 13px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  margin: 13px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-text-8 {
  font-style: normal;
  margin: 13px 0 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 75px;
  width: 75px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-text-10 {
  font-style: normal;
  margin: 13px 0 0;
}

.u-section-2 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 75px;
  width: 75px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-text-12 {
  font-style: normal;
  margin: 13px 0 0;
}

.u-section-2 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 75px;
  width: 75px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-2 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-text-14 {
  font-style: normal;
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1299px;
  }

  .u-section-2 .u-image-1 {
    min-height: 484px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 100px;
    padding-bottom: 35px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: -249px;
    margin-bottom: 49px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 629px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: -128px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    min-height: 1106px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 85px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: -186px;
    margin-bottom: 34px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 70px;
  }

  .u-section-2 .u-text-1 {
    width: 320px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -230px;
    margin-bottom: 42px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

.u-section-2 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-2 .u-list-item-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-list-item-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-list-item-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-3:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-list-item-3:not([data-block-selected]):not([data-cell-selected]).u-section-2 .u-list-item-3:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-8e33-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-8e33-68:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8e33-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-8e33-68:not([data-block-selected]):not([data-cell-selected]).u-block-8e33-68:not([data-block-selected]):not([data-cell-selected]).u-block-8e33-68:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-8e33-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-8e33-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8e33-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-8e33-74:not([data-block-selected]):not([data-cell-selected]).u-block-8e33-74:not([data-block-selected]):not([data-cell-selected]).u-block-8e33-74:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 588px;
}

.u-section-3 .u-tabs-1 {
  min-height: 468px;
  margin: 60px auto 0 0;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-5 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-6 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 420px;
  height: 356px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  margin: -356px 0 0 446px;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 420px;
  height: 356px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: -356px 0 0 446px;
}

.u-section-3 .u-tab-pane-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 420px;
  height: 356px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: -356px 0 0 446px;
}

.u-section-3 .u-tab-pane-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 27px 30px;
}

.u-section-3 .u-image-4 {
  width: 356px;
  height: 302px;
  margin: 3px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: -302px 0 0 446px;
}

.u-section-3 .u-tab-pane-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  width: 352px;
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: -298px 0 0 446px;
}

.u-section-3 .u-tab-pane-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 29px 30px;
}

.u-section-3 .u-image-6 {
  width: 354px;
  height: 300px;
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  margin: -300px auto 0 446px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    width: 288px;
    height: 244px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -244px;
    margin-left: 316px;
  }

  .u-section-3 .u-image-2 {
    width: 288px;
    height: 244px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -244px;
    margin-left: 316px;
  }

  .u-section-3 .u-image-3 {
    width: 246px;
    height: 209px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -209px;
    margin-left: 267px;
  }

  .u-section-3 .u-image-4 {
    width: 246px;
    height: 209px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -210px;
    margin-left: 268px;
  }

  .u-section-3 .u-image-5 {
    width: 239px;
    height: 203px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -202px;
    margin-left: 268px;
  }

  .u-section-3 .u-image-6 {
    width: 274px;
    height: 206px;
    margin-top: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -205px;
    margin-right: 0;
    margin-left: 296px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 1px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-6 {
    margin-top: 1px;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-tabs-1 {
    min-height: 509px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-tab-link-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-tab-link-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-tab-link-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 26px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-tabs-1 {
    min-height: 688px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 103px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 251px;
}

.u-section-4 .u-text-1 {
  font-size: 1rem;
  margin: 32px 0 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 1rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 559px;
}

.u-section-5 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 100px auto;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-5 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-5 .u-video-1 {
    height: 190px;
    margin-top: 109px;
    margin-bottom: auto;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .embed-responsive-1 {
    width: 100%;
    height: 100%;
    left: auto;
    top: auto;
  }
}