 .u-section-1 {
  background-image: none;
  min-height: 508px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 508px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 70px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

.u-section-1 .u-list-1 {
  width: 478px;
  margin: 20px auto 0 1px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 341px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 7px 0;
}

.u-section-1 .u-icon-1 {
  width: 43px;
  height: 43px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -33px 0 10px 59px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 7px 0;
}

.u-section-1 .u-icon-2 {
  width: 43px;
  height: 43px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -33px 0 10px 59px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 10px 7px 0;
}

.u-section-1 .u-icon-3 {
  width: 43px;
  height: 43px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -33px 0 10px 59px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 10px 7px 0;
}

.u-section-1 .u-icon-4 {
  width: 43px;
  height: 43px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -33px 0 10px 59px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 10px 7px 0;
}

.u-section-1 .u-icon-5 {
  width: 43px;
  height: 43px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -33px 0 10px 59px;
}

.u-section-1 .u-video-1 {
  min-height: 508px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 726px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 726px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 50px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-video-1 {
    min-height: 419px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 755px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-1 .u-video-1 {
    min-height: 321px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 666px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 103px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-video-1 {
    min-height: 1157px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 717px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 717px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-video-1 {
    min-height: 728px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2451px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 557px;
  margin: 21px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 43px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 2215px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 9px;
}

.u-section-2 .u-image-1 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 9px;
}

.u-section-2 .u-image-2 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 9px;
}

.u-section-2 .u-image-3 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0 9px;
}

.u-section-2 .u-image-4 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0 9px;
}

.u-section-2 .u-image-5 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 0 9px;
}

.u-section-2 .u-image-6 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 0 9px;
}

.u-section-2 .u-image-7 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 0 9px;
}

.u-section-2 .u-image-8 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 0 9px;
}

.u-section-2 .u-image-9 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 0 9px;
}

.u-section-2 .u-image-10 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-11 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 0 9px;
}

.u-section-2 .u-image-11 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-2 .u-text-13 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-12 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px 0 9px;
}

.u-section-2 .u-image-12 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-2 .u-text-14 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-13 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 0 9px;
}

.u-section-2 .u-image-13 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-2 .u-text-15 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-14 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px 0 9px;
}

.u-section-2 .u-image-14 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-2 .u-text-16 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-2 .u-list-item-15 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px 0 9px;
}

.u-section-2 .u-image-15 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-2 .u-text-17 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 1827px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    min-height: 3380px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 242px;
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    height: 242px;
    width: 340px;
  }

  .u-section-2 .u-image-3 {
    height: 242px;
    width: 340px;
  }

  .u-section-2 .u-image-4 {
    height: 242px;
    width: 340px;
  }

  .u-section-2 .u-image-5 {
    height: 242px;
    width: 340px;
  }

  .u-section-2 .u-image-6 {
    height: 242px;
    width: 340px;
  }

  .u-section-2 .u-image-7 {
    height: 242px;
    width: 340px;
  }

  .u-section-2 .u-image-8 {
    height: 242px;
    width: 340px;
  }

  .u-section-2 .u-image-9 {
    height: 242px;
    width: 340px;
  }

  .u-section-2 .u-image-10 {
    height: 242px;
    width: 340px;
  }

  .u-section-2 .u-image-11 {
    height: 242px;
    width: 340px;
  }

  .u-section-2 .u-image-12 {
    height: 242px;
    width: 340px;
  }

  .u-section-2 .u-image-13 {
    height: 242px;
    width: 340px;
  }

  .u-section-2 .u-image-14 {
    height: 242px;
    width: 340px;
  }

  .u-section-2 .u-image-15 {
    height: 242px;
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1902px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 557px;
  margin: 21px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 31px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 1601px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-2 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-3 .u-image-3 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0 0;
}

.u-section-3 .u-image-4 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-3 .u-image-5 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-3 .u-image-6 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-3 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 0 0;
}

.u-section-3 .u-image-7 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-3 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 0 0;
}

.u-section-3 .u-image-8 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-3 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 0 0;
}

.u-section-3 .u-image-9 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-3 .u-list-item-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-3 .u-image-10 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-3 .u-list-item-11 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px 0 0;
}

.u-section-3 .u-image-11 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-3 .u-list-item-12 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px 0 0;
}

.u-section-3 .u-image-12 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-3 .u-text-14 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 1320px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 2290px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 242px;
    width: 340px;
  }

  .u-section-3 .u-image-2 {
    height: 242px;
    width: 340px;
  }

  .u-section-3 .u-image-3 {
    height: 242px;
    width: 340px;
  }

  .u-section-3 .u-image-4 {
    height: 242px;
    width: 340px;
  }

  .u-section-3 .u-image-5 {
    height: 242px;
    width: 340px;
  }

  .u-section-3 .u-image-6 {
    height: 242px;
    width: 340px;
  }

  .u-section-3 .u-image-7 {
    height: 242px;
    width: 340px;
  }

  .u-section-3 .u-image-8 {
    height: 242px;
    width: 340px;
  }

  .u-section-3 .u-image-9 {
    height: 242px;
    width: 340px;
  }

  .u-section-3 .u-image-10 {
    height: 242px;
    width: 340px;
  }

  .u-section-3 .u-image-11 {
    height: 242px;
    width: 340px;
  }

  .u-section-3 .u-image-12 {
    height: 242px;
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 590px;
}

.u-section-4 .u-text-1 {
  width: 389px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 557px;
  margin: 21px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 42px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 355px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-4 .u-image-1 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-4 .u-image-2 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-4 .u-image-3 {
  height: 251px;
  width: 353px;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2.2;
  margin: 30px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 292px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 686px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 242px;
    width: 340px;
  }

  .u-section-4 .u-image-2 {
    height: 242px;
    width: 340px;
  }

  .u-section-4 .u-image-3 {
    height: 242px;
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 305px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 30px auto 30px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  grid-gap: 10px 10px;
  min-height: 245px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 13px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 13px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 23px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 13px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 23px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  margin: 13px auto 0;
}

.u-section-5 .u-text-8 {
  margin: 23px 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 13px auto 0;
}

.u-section-5 .u-text-10 {
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 529px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 904px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}